.landing-page-wrapper {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;

  .landing-hero-container {
    margin: 40px 0 50px;
  }
  .landing-services-container {
    margin: 40px 0 50px;
  }
  .landing-clients-container {
    margin: 40px 0 50px;
  }
  .landing-accordian-representation-container {
    margin: 40px 0 50px;
  }
}
