.about-wrapper {
  // padding: 32px 42px;
  width: 100%;
  // max-width: 100vw;
  .about-hero {
    display: flex;
    // width: 100%;
    gap: 70px;
    padding: 42px 42px 88px 42px;
    .about-hero-title {
      
      width: 60%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap:32px;

      .primary-button {
        // margin-top: 30px;
        width: fit-content;
      }
    }
    .about-img-container {
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 90%;
      }
    }
  }
  .about-vision{
    display: flex;
    padding: 0 42px 42px 42px;    
    .vision-icon-text{
      width: 50%;
      display: flex;
      // flex-direction: column;
      align-items: center;
      justify-content: center;
      // border: 1px solid grey;
    }
    .vision-desc{
      width: 50%;
      // border: 1px solid grey;
      display: flex;
      justify-content: center;
      align-items: center;

      &.primary-sub-title{
        line-height: 1.5;
      }
    }
  }
  .all-clients-wrapper{
      padding: 32px 0;
    }
}


@media (max-width: 480px){
  .about-wrapper{
    flex-direction: column;

    .about-hero{
      flex-direction: column;
      // width: 100%;\
      padding-bottom: 50px;
      gap:40px;
      .about-hero-title {
        width: 100%;
        // align-items: center;
        .secondary-title{
          // text-align: center;
        }
      }
      .about-img-container{
        width: 100%;
      }
    }
    .about-vision{
      flex-direction: column;
      align-items: center;
      gap:32px;
      .vision-icon-text{
        width: 100%;
        gap:16px;
        .primary-title{
          font-size: 32px;
        }
        .primary-span{
          font-size: 32px;
        }
      }
      .vision-desc{
        width: 100%;
        // text-align: center;
      }
    }
    .all-clients-wrapper{
      padding-top: 0px;
    }
  }
}