.loader-wrapper{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.loader-item{
    border: 5px solid blue;
    border-top:5px solid blue;
    border-right:5px solid purple;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    @keyframes spin {
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
    }
}


.search-loader-wrapper{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // width: 100%;
    // height: 100%;
    opacity: 0.8;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.search-loader-item{
    border: 5px solid white;
    border-top:5px solid white;
    border-right:5px solid var(--grey-100);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    @keyframes spin {
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
    }
}