:root {
  --primary-100: #147f14;
  --primary-hover-100:#1EAC1E;
  --white: #fff;
  --span: #15ca15;
  --secondary-hover:rgb(246, 243, 243);
  --box-shadow:#3e008438;
  --grey-100:#595959;
  --grey-80: #464646;

  --green :green;}
