.services-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  .hero-section {
    display: flex;
    align-items: center;
    padding: 32px;
    max-width: 1164px;

    .hero-section-info {
      flex: 5;
      display: flex;
      flex-direction: column;
      gap: 32px;
      .title {
        span {
          color: var(--primary-hover-100);
        }
        font-weight: 600;
      }
      .sub-title {
      }
    }
    .hero-image {
      flex: 4;
      // border: 1px solid var(--grey-100);
      align-items: center;
      justify-content: center;
      display: flex;
      img {
        width: 70%;
      }
    }
  }
  .benifits {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(136, 251, 136);
    padding: 30px 0;
    margin-top: 60px;
    width: 1164px;

    .each-benifit {
      font-weight: 700;
      opacity: 0.65;
    }
  }
  .key-feature-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 32px;
    padding: 32px 0;
    width: 1164px;

    .key-features {
      display: flex;
      flex-direction: column;
      width: 80%;
      .first-two {
        display: flex;
        // width: 100%;

        .first {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 70%;
          height: 200px;
          border-right: 1px solid var(--grey-100);
          border-bottom: 1px solid var(--grey-100);
          font-size: 24px;
          text-align: center;
        }
        .second {
          border-left: 1px solid var(--grey-100);
          border-bottom: 1px solid var(--grey-100);
          display: flex;
          justify-content: center;
          align-items: center;
          width: 70%;
          height: 200px;
          font-size: 24px;
          text-align: center;
        }
      }

      .third-fourth {
        display: flex;
        width: 100%;
        .third {
          border-top: 1px solid var(--grey-100);
          border-right: 1px solid var(--grey-100);
          display: flex;
          justify-content: center;
          align-items: center;
          width: 70%;
          height: 200px;
          font-size: 24px;
          text-align: center;
        }
        .fourth {
          display: flex;
          border-left: 1px solid var(--grey-100);
          border-top: 1px solid var(--grey-100);
          justify-content: center;
          align-items: center;
          width: 70%;
          height: 200px;
          font-size: 24px;
          text-align: center;
        }
      }
    }
  }
  .all-features {
    display: flex;
    flex-direction: column;
    // gap: 72px;
    padding: 120px 0;
    width: 1164px;

    .title {
      text-align: center;
      font-size: 28px;
      font-weight: 700;
      margin-bottom: 8px;
    }
    .sub-title {
      font-size: 18px;
      text-align: center;
      margin-bottom: 72px;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.75);
    }
    .feature-wrapper {
      display: flex;
      justify-content: space-evenly;
      //
      .feature {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        text-align: center;
        font-weight: 600;

        .featuretitle {
          width: 70%;
          opacity: 0.75;
          letter-spacing: 0px;
        }
      }
    }
  }

  .advantages {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 64px;
    padding-bottom: 72px;
    .header {
      font-size: 28px;
      font-weight: 600;
    }
    .all-adv {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 64px;
    }
  }
  .accordian-data {
    max-width: 1164px;
    margin-bottom: 82px;
    .accordian-title{
      text-align: center;
      font-size: 28px;
      margin-bottom: 32px;
    }
  }
}


@media (max-width: 480px) {
  .services-page-wrapper{
    .hero-section{
      flex-direction: column;
    }
    .benifits {
      width: 100%;
      gap:12px;
      .each-benifit{
        font-size: 12px;
      }
    }
    .all-features{
      width: 100%;
    }
    .advantages{
      width: 100%;
      .header{
        width: 80%;
        text-align: center;
      }
      .all-adv{
        flex-wrap: wrap;
      }
    }
    .accordian-data{
      padding: 0 12px;
    }
  }
  }