.landing-page-wrapper{
    max-width: 100%;
    .all-accordian-wrapper{
        margin: 0 42px;
        padding: 82px 0;
        .title{
            text-align: center;
            margin-bottom: 24px;
            font-weight: 600;
        }
    }
}