.services-card {
  display: flex;
  gap: 16px;
  width: 45%;
  border-radius: 16px;
  padding: 16px;
  cursor: pointer;

  &:hover {
    background-color: var( --secondary-hover);
  }
  .services-card-icon-container {
    height: fit-content;
    border-radius: 50%;
    border: 1px solid var(--green);
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
  }
  .services-card-icon-container > img {
    width: 30px;
    height: 30px;
  }

  .services-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .services-title {
    font-size: 18px;
    font-weight: 700;
  }
  .services-desc {
    color: var(--grey-100);
    font-size: 14px;
    font-weight: 500;
  }
  
}
@media (max-width: 480px) {
    .services-card {
      width: 100%;
    }
  }