.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  .input-label {
    font-size: 12px;
    font-weight: 500;
  }
  .input {
    outline: none;

    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid grey;
    font-weight: 500;
    &::placeholder{
      font-weight: normal;
    }
  }
}
