.hero-banner {
  display: flex;
  justify-content: space-between;
  // padding: 50px 0;
  height: 100%;
  max-width: 1164px;
  align-items: center;
  gap: 72px;

  .hero-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 32px;

    .primary-button {
      width: fit-content;
    }
  }

  .hero-image {
    width: 40%;
    // width: 450px;
    height: auto;
    img {
      width: 100%;
    }
  }
}

@media (max-width: 480px) {
  .hero-banner {
    max-width: 100%;
    flex-direction: column;
    padding: 0 25px;

    .hero-content {
      width: 100%;
      margin: 50px 0 0px 0;
      gap: 22px;
      // text-align: center;
      max-width: 100%;
      .primary-title {
        font-size: 2rem;
        margin-bottom: 20px;
      }
      .primary-span {
        font-size: 2rem;
      }
      .primary-sub-title {
        max-width: 100%;
        margin-bottom: 30px;
      }
    }
    .hero-image {
      width: 100%;
      // display: none;
      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 768px) and (min-width:481px) {
  .hero-banner {
    gap: 36px;
    .hero-content {
      width: 50%;
      .primary-title {
        font-size: 40px;
      }
      .primary-span {
        font-size: 40px;
      }
    }
    .hero-imgage {
      width: 50%;
      img{
        width: 100%;
      }
    }
  }
  .services-all-cards-wrapper{
    .services-card{
      width: 100%;
    }
  }
 
}
